<!DOCTYPE HTML>

<html:en>

    <head>
        <title> CaptureLectures</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <noscript>
            <link rel="stylesheet" href="assets/css/noscript.css" />
        </noscript>
    </head>

    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <h1><img src="static/images/logo.svg" width="42">CaptureLectures</h1>
                <p>A simple web-app to convert a video into pdf of its slides.</p>
                <h6>
                    <p> <strong>WARNING  - </strong> The folder may have more than 1 similar images sometimes as the product is still in developement.</p>
                </h6>
            </header>

            <!-- Main -->
            <div id="main">

                <!-- Content -->
                <section id="content" class="main">

                    <!-- Text -->
                    <section>
                        <p>Select a video and wait till the website processes your video into a series of relevant slides. </p>

                        <div class="row">
                            <div class="col-6 col-12-medium">
                                <ul class="actions">
                                    <form method="post" enctype="multipart/form-data">
                                        <input type="file" name="file">
                                        <input type="submit">
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </section>


                    <!-- Scripts -->
                    <script src="assets/js/jquery.min.js"></script>
                    <script src="assets/js/jquery.scrollex.min.js"></script>
                    <script src="assets/js/jquery.scrolly.min.js"></script>
                    <script src="assets/js/browser.min.js"></script>
                    <script src="assets/js/breakpoints.min.js"></script>
                    <script src="assets/js/util.js"></script>
                    <script src="assets/js/main.js"></script>

    </body>

    </html>